/*
font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70pt;
	text-align: center;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;	
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

p{
	font-family: 'Roboto', sans-serif;
	
}
a {
	font-family: 'Amatic SC', cursive;
	color: black;
}

.me{
	size: 20vw auto;
}