/*
font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
html {
	border: 10px solid black;
}

body {
	margin: 30px;
	margin-bottom: 10px;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70pt;
	text-align: center;
	margin: 30vh auto 20px;
	background-color: rgba(255, 182, 187, 0.8);
	/*height: 100pt;*/
	width: 500pt;
	padding: 40px 0 30px;
	background-position: center;
	/*outline: 5px solid pink;
	outline-offset: 10px;*/
	border-top: 
}

#headlineText {
	margin: 0 auto;
	margin-bottom: 30vh;
	width: 30vw;
	text-align: center;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px 0 20px;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	/*font-weight: 700;*/
	margin-bottom: 0;
	/*margin-top: 30px;*/
	

}

h4 {
	margin-top: 8px;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	/*font-family: 'Amatic SC', cursive;*/
	font-size: 10pt;
	padding-bottom: 4px; 
	/*margin-bottom: 20px;*/
	border-bottom: 2px solid pink;
}
h5 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 10pt;
	padding-top: 4px;
}

p {
	font-family: 'Roboto', sans-serif;
	/*display: inline-block;*/
	
}

a {
	font-family: 'Roboto', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 14pt;
	margin: 20px;
	white-space: nowrap;
}

a:hover {
	/*color: rgba(255, 195, 106);*/
}

nav {	text-align: center;

}

nav a {
	font-family: 'Amatic SC', cursive;
	font-size: 24pt;
}

nav a:hover {
	color: rgba(255, 195, 106);
}

.subpageGroup {
	/*text-align: center;*/
}

.subpage {
	font-family: 'Amatic SC', cursive;
	color: white;
	background-color: black;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 40pt;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	/*margin-top: 40px;*/
}
.subpage:hover {
	background-color: rgba(255, 195, 106);
}

#me {
	width: 25vw;
	height: auto;
	
	display: block;
	position: absolute;
	right: 5vw;
	top: 25vh;
	z-index: -10;
}

.section {
	margin-top: 50px;
	padding-bottom: 10px; 
	margin-bottom: 20px;
	border-bottom: 2px solid pink;
}
.sectionInner {
	padding-bottom: 10px; 
	margin-bottom: 20px;
	border-bottom: 2px solid pink;
}

#lecture, #workshop, #excursion, #lab {
	padding-top: 10px;
}

footer {
	height: 100px;
	text-align: center;
	
}

#footerDIV p {
	font-size: 12pt;
	margin-bottom: 0pt;
	/*display: inline-block;*/
	position: relative;
	bottom: -80px;
}

.wearableIMG {
	width: 60vw;
	height: auto;
	display: inline-block;
	margin: 25px 50px 25px 0px;
	/*float: right;*/
}

.unrealIMG {
	width: 40vw;
	height: auto;
	display: inline-block;
}

.arIMG {
	width: 30vw;
	height: auto;
	display: block;
	/*float: right;*/
}

.arduinoIMG {
	width: 300px;
	height: auto;
}

video {
	
	height: 400px;
	width: auto;
}

.topicLinks:hover {
	color: rgba(255, 195, 106);
}
.labText {
	margin-top: 30px;
}


/*SLIDESHOW*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8, .mySlides9 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /*border-radius: 0 3px 3px 0;*/
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  position: absolute;
  /*bottom: 4px;*/
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  font-family: 'Amatic SC', cursive;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*BUTTON TO TOP*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(250, 250, 250, 0.5);
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 40px;
    height: 40px;
    text-align: center;
}

#myBtn:hover {
    background-color: rgba(255, 195, 106, 0.5);
    color: black;
}